* {
    font-family: 'Arima Madurai', sans-serif;
}

h1{
    font-size: 3rem;
    position: absolute;
    left: 26vw;
    transition: all 1s;
}

h2{
    text-align: center;
}

.error-text, h1, h2{
    color: #f0c800;
}

.error-text {
    font-size: 1rem;
    padding-left: 0rem;
    font-weight: bold;
}

.logo-one{
    transform: rotate(60deg);
    position:absolute;
    left:-40px;
    top: -5px;
}

.hexagon-container {
    position:absolute;
    top: 20vh;
    left: 34vw;
    transition: all 1s;
}

.hexagon {
    position: relative;
    margin: 0 auto;
    background-color: dodgerblue;
    border-radius: 10px;
    width: 100px; 
    height: 63px;
    box-sizing: border-box;
    border: 0.4vh solid transparent;
    padding-top: 5px;
    padding-right:20px;
}

.hexagon div {
    font-size: 1.8rem;
    width:1px;
    margin: 0 auto;
}

.one {
    background-color:#f0c800;
    top:150px;   
    left: -10px;
    padding-left:10px;
}

.two {
    background-color:#e0e0e0;
    top:-5px;
    left: 45px;
}

.three {
    background-color:#e0e0e0;
    top:25px;
    left: 98px;
}

.four {    
    background-color:#e0e0e0;
    top:55px;
    left: 44px;
}
.five {
    background-color:#e0e0e0;
    top:-8px;
    left: -65px;
}

.six {
    background-color:#e0e0e0;
    top:-165px;
    left: -117px;
}

.seven {
    background-color:#e0e0e0;
    top:-322px;
    left: -62px;
}

i{
    font-size: 2.5rem;
    color: #939393;
    margin-right: 3vw;
}

.icons{
    margin-top: 5vh;
    margin-left: 9vw;
}
  
  
/* Creating pseudo-class */
.hexagon:before, .hexagon:after {
    content: "";
    border: inherit;
    background-color: #e0e0e0;
    position: absolute;
    top: -0.5vh;
    left: -0.5vh;
    border-radius: inherit;
    height: 100%;
    width: 100%;
    z-index: -1;
}
  
/* Align them in such a way
that they form a hexagon */
.hexagon:before {
    transform: rotate(60deg);
}
.hexagon:after {
    transform: rotate(-60deg);
}

.one:before, .one:after {
    background-color:#f0c800;
}

.input-container{
    position: absolute;
    width: 800px;
    top: 70vh;
    left: 20%;
}
.words-container{
    padding-left: 3vw;
    padding-right: 3vw;
}
.score-container, .words-container{
    width: 25vw;
    position: absolute;
    left: 68vw;
}

.words-container {
    border: 2px solid #e0e0e0 ;
    border-radius: 5px;
    height: 70vh;
}

.score-container{
    top: 70vh;
}

.score-container h2{
    display:inline-block;
    margin-right: 1vw;
}

.score-container span{
    font-size: 1.5em;
}

input{ 
    height: 30px;
    width: 340px;
    border: 0px solid;
    border-bottom: 2px solid #e0e0e0;
}

input:focus{
    outline: none !important;
    border: #f0c800 solid 2px;
    border-radius: 3px;
}

input:hover {
    background-color: #ffef9f;
    border-radius: 3px;
}

button {
    padding: 2px 12px;
    background-color: #ffef9f;
    border: 2px solid #f0c800;
    border-radius: 3px;
}

button:hover{
    background-color: #fce46d;
    border: 2px solid #dcb701;
}

button, input{
    font-size:1.1rem;
    text-align: center;
}